{% extends "blog/base.html" %}

{% block content %}
  <h2 class="text-center mt-5 text-dark">Añadir un nuevo artículo</h2>
  <form method="post" class="text-center">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
        {{ field }}
      </div>
    {% endfor %}
    <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-dark">Guardar</button>
    </div>
    <a href="{% url 'article_list' %}" class="btn btn-dark mt-5">Volver a la lista de artículos</a>
  </form>

{% endblock %}